
header {
    padding: 50px 30px;
    position: fixed;
    z-index: 999;
    width: 100%;
    transition: .3s ease;
top: 0;
}


nav {
    max-width: 1320px;
    margin: auto;
    /*box-shadow: 0 0 3px #000;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo-content {
    width: 300px;
    height: 160px;

}
header.minimized nav .logo-content {
    width: 100px;
    height: auto;
}
header.minimized ul{
    margin-bottom: 0;
}
nav .logo-content img {
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    max-height: 100%;
}

nav .menu-items {
    /*box-shadow: 0 0 3px #000;*/
}

nav ul {
    display: flex;
    /*box-shadow: 0 0 3px #000;*/
}
@media (max-width: 769px){
    nav ul {
        display: block;
    }
}
nav .m_item {
    /*box-shadow: 0 0 3px #000;*/
    border: 1px solid #285878;
    border-radius: 30px;
    margin: 0 30px 0 0;
}

nav .m_item:last-child {
    margin: 0;
}

nav .m_item:hover {
    background-color: #1d5778;
    border-color: #1d5778;

}

nav .m_item:hover a {
    color: #fff;
}

nav .m_item a {
    border-radius: 30px;
    text-transform: capitalize;
    font-size: 18px;
    color: #285878;
    padding: 13px 30px;
    display: inline-block;
    min-width: 160px;
    text-align: center;
    max-width: 100%;
}

nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.mobile-nav {
    opacity: 1;
    transition: .3s;
    background-color: #0f0f0f;
    z-index: 999;
    /*border: 1px solid red;*/
    max-width: 100%;
    height: 350px;
}

header.minimized {
    border-radius: 0 0 30px 30px;
    background-image: linear-gradient(to right, #035974, #00B0C5);    padding: 20px;

}

header.minimized nav {
    max-width: 1450px;
}

header.minimized nav .m_item {
    border: 1px solid #ffffff;
}

header.minimized nav .m_item a {
    color: #ffffff;
}

.white-logo {
    display: none;
}

nav .logo-content img {
    display: none;
}

nav .logo-content img.open {
    display: block;
}
nav .m_item.active a{    color: #ffffff;
}
nav .m_item.active {
    background-color:  #1d5778;

}
/* /Header */

footer {
    background-color: rgba(0, 0, 0, .1);
    border-radius: 30px 30px 0 0;
    /*box-shadow: 0 0 3px forestgreen;*/
    background-image: linear-gradient(to right, #035974, #00B0C5);}

footer .foot-wrap {
    /*box-shadow: 0 0 3px forestgreen;*/
    max-width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0;


}

.foot-wrap .logo-bar {
    width: 250px;
    height: 150px;
    /*box-shadow: 0 0 3px #000;*/
    /*background-color: rgba(0, 0, 0, .1);*/
}

.foot-wrap .logo-bar img {
    width: 100%;
    height: 100%;
    display: block;
    max-width: 100%;
}

.foot-wrap .info-bar {
    max-width: 325px;
    width: 30%;

}

.foot-wrap .info-bar > div {
    margin: 0 0 30px 0;
    /*box-shadow: 0 0 3px #000;*/
}

.foot-wrap .info-bar > div:last-child {
    margin: 0
}

.foot-wrap .info-bar h4 {
    margin: 0 0 15px 0;
    color: #ffffff;

}

.foot-wrap .info-bar p {
    color: #ffffff;

}

.foot-wrap .form-bar {
    width: 34%;
    max-width: 430px;
}

.foot-wrap .form-bar label {
    width: 100%;
    display: block;
}

.foot-wrap .form-bar textarea,
.foot-wrap .form-bar input {
    width: 100%;
    height: 40px;
    margin: 0 0 20px 0;
    padding: 7px 0;
    display: flex;
    align-items: center;
    font-size: 16px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;

}

.foot-wrap .form-bar textarea::placeholder,
.foot-wrap .form-bar input::placeholder {
    color: #ffffff;
}

.foot-wrap .form-bar textarea {
    margin: 0;
    max-width: 430px;
    min-width: 430px;
    resize: none
}


/* /Footer */


.top-features {
    max-width: 1600px;
    margin: auto;
}

.top-features > .banner {
    display: flex;
    max-width: 100%;
    margin: auto;
    justify-content: space-between;
}

.features_slider ,
.portfolio-items .p_item {
    width: 450px;
    height: 430px;
    /*box-shadow: 0 0 3px #000;*/
    margin: 0;
    padding: 0;
    position: relative;
    border-radius: 30px;
    margin-right: 30px;
}

.features_slider:last-child {
    margin: 0;
}

.features_slider li {
    list-style: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    box-shadow: 0 0 15px 7px #0000000d;
}

.features_slider input {
    display: none;
}


.features_slider label {
    background-color: #111;
    background-image: linear-gradient(transparent, hsla(0, 0%, 0%, .25));
    border: .2em solid transparent;
    border-radius: 100%;
    cursor: pointer;
    display: block;
    height: .1em;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: .25s;
    width: .1em;
    visibility: hidden;
    z-index: 10;
    top: 0;
    right: 0;
    margin: 20px auto 0;
}

.features_slider:hover label {
    opacity: 1;
    visibility: visible;
}

.features_slider input:checked + label {
    background-color: #fff;
}

.features_slider:hover li:nth-child(1) label {
    left: -4em;
}

.features_slider:hover li:nth-child(2) label {
    left: -2em;
}

.features_slider:hover li:nth-child(3) label {
    left: 0;
}

.features_slider:hover li:nth-child(4) label {
    left: 2em;
}

.features_slider:hover li:nth-child(5) label {
    left: 4em;
}

.features_slider img
{
    object-fit: cover;
}
.features_slider img,
.portfolio-items .p_item > img{
    height: 230px;
    /*background-color: rgba(0, 0, 0, .1);*/
    width: 100%;
    opacity: 0;
    transition: .25s;
    vertical-align: top;
    visibility: hidden;
    border-radius: 30px 30px 0 0;
}

.features_slider .text-bar {
    opacity: 0;
    visibility: hidden;
}


.features_slider li input:checked ~ .text-bar,
.features_slider li input:checked ~ img {
    opacity: 1;
    z-index: 10;
    visibility: visible;

}

.portfolio-items .p_item .text-bar ,
.features_slider .text-bar {
    padding: 35px 35px 30px 60px;
    font-size: 16px;
}

.portfolio-items .p_item .text-bar h5 ,
.features_slider .text-bar h5 {
    margin: 0 0 25px 0;
    font-weight: 700;
    color: #2c2727;


}

.portfolio-items .p_item .text-bar p ,
.features_slider .text-bar p {
    margin: 0 0 20px 0;
    font-weight: 400;

    width: 75%;
    color: #2c2727;

}
.portfolio-items .p_item .text-bar p:nth-child(3) ,
.features_slider .text-bar p:nth-child(3) {
    margin: 0;
}
.portfolio-items .p_item .text-bar a ,
.features_slider .text-bar a {
    display: flex;
    justify-content: flex-end;
    width: max-content;
    margin: 0 0 0 auto;
    text-transform: uppercase;
    font-weight: 700;
    color: #35607a;

}



.why_us_container {
    /*box-shadow: 0 0 3px #000;*/
    max-width: 1440px;
    margin: 150px auto 70px;

}
.why_us > .banner {
    margin: 0 0 0 -220px;
    display: flex;
}
.why_us {
    background-image: linear-gradient(to right, #57C8E0, #CDEBEE);
    border-radius: 30px;
    max-width: 1220px;
    height: 530px;
    margin: 0 0 0 auto;
    display: flex;
    align-items: center;
    padding: 50px 0;

}

.why_us > .banner img {
    /*box-shadow: 0 0 3px #000;*/
    /*background-color: rgba(0, 0, 0, .3);*/
    width: 450px;
    height: 430px;
    display: block;
    border-radius: 30px;

}

.why_us > .banner > div {
    /*box-shadow: 0 0 3px #000;*/
    margin: 0 0 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (max-width: 1400px) {
    .why_us_container {
        max-width: 1000px;
    }
    .why_us > .banner {
        margin: 0 0 0 -120px;
    }
}
@media (max-width: 1250px) {
    .why_us_container {
        padding:0 20px;
    }
    .why_us > .banner {
        margin: 0;
    }
}
@media (max-width: 991.98px) {
    .why_us{
        display: block;
        height: auto;
    }
    .why_us > .banner {
        margin: 0;
        display: block;
        width: 100%;
    }
    .why_us > .banner img{
        margin:0 auto;
        max-width: 100%;
    }
    .why_us > .banner >div{
        margin:0;
    }
}




.why_us > .banner h3 {
font-size: 70px;
margin: 0 0 30px 0;
}

.why_us > .banner p {
font-size: 21px;
line-height: 40px;
letter-spacing: 2px;
max-width: 640px;
}
/* /Section */


@media (max-width: 1400px) {
    footer .foot-wrap {
        padding: 70px 30px;
    }

    .foot-wrap .form-bar textarea {
        max-width: initial;
        min-width: initial;
    }
}
@media (max-width: 1200px) {

    .menu-icon > span {
        width: 30px;
        height: 5px;
        margin: 0 0 0 0;
    }

    .menu-icon > span:before {
        width: 40px;
    }

    .menu-icon > span:after {
        width: 50px;
    }
    .menu-icon > span:before, .menu-icon > span:after {
        height: 5px;}

    .menu-icon > span {
        width: 30px;
    }

    .menu-icon > span:before {
        width: 40px;
    }

    .menu-icon > span:after {
        width: 50px;
    }

    nav .logo-content {
        width: 250px;
        height: auto;
    }

    nav .m_item {
        width: 130px;
        margin-right: 20px
    }

    nav .m_item a {
        font-size: 16px;
        padding: 15px 10px;
        min-width: unset;
        width: 100%;
    }

    nav .logo-content {
        width: 230px;
    }
}

@media (max-width: 992px) {

    nav .m_item {
        width: 110px;
        margin-right: 20px
    }

    nav .logo-content {
        width: 200px;
    }
}

@media (max-width: 769px) {
    header {
        /*border: 1px solid green;*/
        padding: 0;
    }

    nav {
        height: 120px;
    }

    .container.nav-open {
        width: 100%;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        z-index: 9999999;
    }

    .menu-icon {
        position: absolute;
        display: block;
        width: 60px;
        height: auto;
        cursor: pointer;
        z-index: 999999;
        /*box-shadow: 0 0 3px red;*/
        margin: 0;
        top:30px;
        right:10px;
    }


    .menu-icon:hover span {
        background: #1C4A69;
    }

    .menu-icon:hover span:before, .menu-icon:hover span:after {
        background: #1C4A69;
    }

    .menu-icon > span {
        position: absolute;
        top: 50%;
        right: 0;
        display: block;
        width: 40px;
        height: 10px;
        background-color: #1b5776;
        border-radius: 3px;
        -webkit-transition: -webkit-transform 0.3s, background 0.25s ease;
        -moz-transition: -moz-transform 0.3s, background 0.25s ease;
        -o-transition: -o-transform 0.3s, background 0.25s ease;
        transition: transform 0.3s, background 0.25s ease;
        margin: 8px 0;
    }

    .menu-icon > span:before,
    .menu-icon > span:after {
        content: "";
        position: absolute;
        right: 0;
        width: 100%;
        height: 10px;
        background-color: #1b5776;
        border-radius: 3px;
        -webkit-transition: -webkit-transform 0.3s, background 0.25s ease;
        -moz-transition: -moz-transform 0.3s, background 0.25s ease;
        -o-transition: -o-transform 0.3s, background 0.25s ease;
        transition: transform 0.3s, background 0.25s ease;
    }

    .menu-icon > span:before {
        -webkit-transform: translateY(-18px);
        -moz-transform: translateY(-18px);
        -ms-transform: translateY(-18px);
        -o-transform: translateY(-18px);
        transform: translateY(-18px);
        width: 50px;
    }

    .menu-icon > span:after {
        -webkit-transform: translateY(18px);
        -moz-transform: translateY(18px);
        -ms-transform: translateY(18px);
        -o-transform: translateY(18px);
        transform: translateY(18px);
        width: 60px;
    }

    /* OPENED */
    .menu-icon.open {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .menu-icon.open > span:after,
    .menu-icon.open > span:before {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        height: 100%;
        width: 100%;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        color: white;
        z-index: 1;
        max-width: 100%;
        padding: 0 30px;
    }

    nav > ul {
        flex-direction: column;
        opacity: 0;
    }

    nav ul li.animate {
        top: 0;
    }

    nav ul li {
        display: inline-block;
        text-align: center;
        margin: 1em 2em;
        cursor: pointer;
        position: relative;
        top: -8em;
    }
    header.minimized nav .m_item{
        margin-bottom: 10px;
    }
    nav ul li:nth-child(1) {
        -webkit-transition: top 0.3s ease;
        -webkit-transition-delay: 0.15s;
        -moz-transition: top 0.3s ease 0.15s;
        -o-transition: top 0.3s ease 0.15s;
        transition: top 0.3s ease 0.15s;
    }

    nav ul li:nth-child(2) {
        -webkit-transition: top 0.3s ease;
        -webkit-transition-delay: 0.2s;
        -moz-transition: top 0.3s ease 0.2s;
        -o-transition: top 0.3s ease 0.2s;
        transition: top 0.3s ease 0.2s;
    }

    nav ul li:nth-child(3) {
        -webkit-transition: top 0.3s ease;
        -webkit-transition-delay: 0.25s;
        -moz-transition: top 0.3s ease 0.25s;
        -o-transition: top 0.3s ease 0.25s;
        transition: top 0.3s ease 0.25s;
    }

    nav ul li:nth-child(4) {
        -webkit-transition: top 0.3s ease;
        -webkit-transition-delay: 0.3s;
        -moz-transition: top 0.3s ease 0.3s;
        -o-transition: top 0.3s ease 0.3s;
        transition: top 0.3s ease 0.3s;
    }

    nav ul li:nth-child(5) {
        -webkit-transition: top 0.3s ease;
        -webkit-transition-delay: 0.35s;
        -moz-transition: top 0.3s ease 0.35s;
        -o-transition: top 0.3s ease 0.35s;
        transition: top 0.3s ease 0.35s;
    }

    nav ul li:hover {
        opacity: 1;
    }

    .mobile-nav > ul {
        opacity: 1;
    }

    header {
        padding: 0 !important;
    }

    header.minimized nav {
        max-width: 100% !important;
    }

    .nav-open .menu-icon > span:before,
    .nav-open .menu-icon > span,
    .nav-open .menu-icon > span:after {
        background-color: #ffffff;
    }

    nav .m_item {
        border-color: #fff;
    }

    nav .m_item a {
        color: #ffffff;
    }

    nav {
        background-image: linear-gradient(to right, #155874b5, #12a5bb5e);
    }

    nav.mobile-nav {
        background-image: linear-gradient(to right, #155874, #12a5bb);
    }

    .enyuka_portfolio .banner {
        margin: 100px 0 0 0;
    }
    nav .m_item {
        width: 100%;
        height: auto;
        margin: 0;
        border:none;
    }

    nav .m_item a {
        font-size: 14px;
        padding: 10px;
    }

    nav {
        height: 70px;

    }


    footer {
        height: auto;
    }

    footer .foot-wrap {
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .foot-wrap .logo-bar {
        width: 100%;
        height: auto;
    }

    .foot-wrap .logo-bar img {
        width: 50%;
        height: auto;
        margin: 0 auto 50px;
    }

    footer .foot-wrap {
        padding: 30px;
    }

    .foot-wrap .form-bar textarea, .foot-wrap .form-bar input,
    .foot-wrap .info-bar p,
    .foot-wrap .info-bar h4 {
        font-size: 14px;
    }

    .foot-wrap .info-bar,
    .foot-wrap .form-bar {
        width: 30%;
    }
}

@media (max-width: 480px) {
    nav .m_item a {
        font-size: 12px;
    }
    .menu-items{
        margin:0;
    }
    .menu-icon > span {
        width: 20px;
    }

    .menu-icon > span:before {
        width: 30px;
    }

    .menu-icon > span:after {
        width: 40px;
    }

    nav .logo-content {
        width: 220px;
        height: auto;
    }

    .menu-icon > span {
        width: 20px;
    }

    .menu-icon > span:before {
        width: 30px;
    }

    .menu-icon > span:after {
        width: 40px;
    }

    .total_info_banner{
        padding: 0 15px;
        margin: 20px 0;
        flex-direction: column;
        align-items: center;
    }
    .total_info_banner .total_item{
        margin: 0 0 20px 0;
        width: 100%;
    }


}